<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my web</title>
    <link rel="stylesheet" href="aboutus.css">
</head>

<body>
    <nav class="nav">

        <a href="/home">HOME</a>
        <a href="/login">LOGIN</a>
        <a href="/about-us">ABOUT US</a>
        <a href="/reach-us">REACH US</a>

    </nav>

    <div class="main">
       <h2>about us</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, aliquam laudantium quas reprehenderit incidunt vel porro minima iusto ea, animi illo doloribus fugit. Voluptate minus quisquam ducimus odio perferendis perspiciatis!</p>
   </div>
</body>

</html>