<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>my web</title>
    <link rel="stylesheet" href="reachus.css">
</head>

<body>
    <nav class="nav">

        <a href="/home">HOME</a>
        <a href="/login">LOGIN</a>
        <a href="/about-us">ABOUT US</a>
        <a href="/reach-us">REACH US</a>

    </nav>

    <div class="main">
        <h1>reached us</h1>
        <p>contact us :7890675432</p>
    </div>
</body>

</html>